<%- include("partials/header.ejs") %>

<section class="set">
  <div class="create container py-5">
    <div class="blog col-md-8 rounded px-3">
      <% if (locals.post) { %>
        <form action="/save/<%= post.id %>" method="POST">
          <label for="fname" class="mt-3 label">Title:</label><br>
          <input class="mt-1" type="text" name="title" value="<%= post.title %>">
          <br>
          <label for="lname" class="mt-3 label">Content:</label><br>
          <textarea name="content" rows="10" class="mt-1"><%=post.content %></textarea>
          <button type="submit" class="rounded my-3">Create</button>
        </form>
      <% } else { %>
        <form action="/save" method="POST">
          <label for="fname" class="mt-3 label">Title:</label><br>
          <input type="text" name="title" class="mt-1">
          <br>
          <label for="lname" class="mt-3 label">Content:</label><br>
          <textarea name="content" required rows="10" class="mt-1"></textarea>
          <button type="submit" class="rounded my-3">Create</button>
        </form>
      <% } %>      
    </div>

    <div class="blog row col-md-4 rounded">
      <div style="top: 2rem;">
        <div class="inset p-4 mb-3 rounded">
          <p>We welcome you to write about your experiences
             with your favorite artists and how they have affected your life. Please take your time and vent as needed 💗
          </p>
        </div>
      </div>    
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>