<%- include("partials/header.ejs") %>

<section class="container pt-5">
  
  <div class=" posts col-md-8 mt-5">
      <% if (locals.blogs) { %>
        <% for (let i = 0; i < blogs.length; i++) { %>
          <article class="blog-post bg-body-secondary">
            <h2 class="display-5 link-body-emphasis mb-1">
              <%= blogs[i]['title'] %>
            </h2>
            <p class="blog-post-meta"><%= blogs[i]['date'] %></p>
            <hr>
            <p>
              <%= blogs[i]['content'] %>
            </p>
            <a class="edit" href="/edit/<%= blogs[i]['id'] %>">Edit</a>
            <a class="delete" href="/delete/<%= blogs[i]['id'] %>">Delete</a>
          </article>
        <% } %>
      <% } %>
  </div>

  <div class=" row col-md-4 bg-body-secondary mt-5">
    <div style="top: 2rem;">             
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <img src="static/5sos.jpg" class="d-block mx-lg-auto img-fluid" alt="gojo" width="300" height="300" loading="lazy">
      </div>
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <img src="static/bts.jpg" class="d-block mx-lg-auto img-fluid" alt="gojo" width="300" height="300" loading="lazy">
      </div>
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <img src="static/army.jpg" class="d-block mx-lg-auto img-fluid" alt="gojo" width="300" height="300" loading="lazy">
      </div>
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <img src="static/beyonce.jpg" class="d-block mx-lg-auto img-fluid" alt="gojo" width="300" height="300" loading="lazy">
      </div>
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <img src="static/rhcp.jpg" class="d-block mx-lg-auto img-fluid" alt="gojo" width="300" height="300" loading="lazy">
      </div>
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <img src="static/blink.jpg" class="d-block mx-lg-auto img-fluid" alt="gojo" width="300" height="300" loading="lazy">
      </div>
    </div>    
  </div>

</section>
<%- include("partials/footer.ejs") %>