<%- include("partials/header.ejs") %>

<section class="set">
  <div class="container py-5">
    <div class="posts col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8">
        <% if (locals.blogs) { %>
          <% for (let i = 0; i < blogs.length; i++) { %>
            <article class="blog blog-post rounded pb-3 px-3">
              <h2 class="mt-3">
                <%= blogs[i]['title'] %>
              </h2>
              <p class="date blog-post-meta"><%= blogs[i]['date'] %></p>
              <hr>
              <p class="mb-3">
                <%= blogs[i]['content'] %>
              </p>
              <a class="edit" href="/edit/<%= blogs[i]['id'] %>">Edit</a>
              <a class="delete" href="/delete/<%= blogs[i]['id'] %>">Delete</a>
            </article>
          <% } %>
        <% } %>
    </div>
  

    <div class="posts col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 rounded row">

        <div class="blog pb-4 rounded">
          <div class="inset p-4 rounded">
            <img src="static/5sos.jpg" class="d-block mx-lg-auto img-fluid" alt="5SOS banner" width="300" height="300" loading="lazy">
          </div>
        </div>
        <div class="blog pb-4 rounded">
          <div class="inset p-4 rounded">
            <img src="static/bts.jpg" class="d-block mx-lg-auto img-fluid" alt="BTS concert" width="300" height="300" loading="lazy">
          </div>
        </div>
        <div class="blog pb-4 rounded">
          <div class="inset p-4 rounded">
            <img src="static/army.jpg" class="d-block mx-lg-auto img-fluid" alt="ARMY bomb" width="300" height="300" loading="lazy">
          </div>
        </div>
        <div class="blog pb-4 rounded">
          <div class="inset p-4 rounded">
            <img src="static/beyonce.jpg" class="d-block mx-lg-auto img-fluid" alt="Beyonce birthday sign" width="300" height="300" loading="lazy">
          </div>
        </div>
        <div class="blog pb-4 rounded">
          <div class="inset p-4 rounded">
            <img src="static/blink.jpg" class="d-block mx-lg-auto img-fluid" alt="Blink-182 concert" width="300" height="300" loading="lazy">
          </div>
        </div>
        <div class="blog pb-4 rounded">
          <div class="inset p-4 rounded">
            <img src="static/rhcp.jpg" class="d-block mx-lg-auto img-fluid" alt="RHCP concert" width="300" height="300" loading="lazy">
          </div>
        </div>
    </div>
  </div>

</section>
<%- include("partials/footer.ejs") %>